<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns:cache="http://www.springframework.org/schema/cache" 
	   xmlns:mvc="http://www.springframework.org/schema/mvc" 
	   xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"     
       xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd 
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd 
       					   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		  				   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd		  				   
  							http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
  							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
	<context:component-scan base-package="com.apparel"/>


    <mvc:resources mapping="/**" location="/resources/" />
    
    <mvc:annotation-driven conversion-service="conversionService"/>
    
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
       <property name="formatters">
            <set> </set>
        </property>
    </bean>
	
	<mvc:interceptors>
	    <bean class="org.springframework.mobile.device.DeviceResolverHandlerInterceptor" />
	</mvc:interceptors>
	
    <mvc:annotation-driven>
	    <mvc:argument-resolvers>
	        <bean class="org.springframework.mobile.device.DeviceWebArgumentResolver" />
	    </mvc:argument-resolvers>
	</mvc:annotation-driven>
	
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	  <property name="prefix" value="/WEB-INF/views/"/>
	  <property name="suffix" value=".jsp"/>
	</bean>
   
   <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />
   
   <bean class="org.springframework.web.servlet.view.XmlViewResolver" />
   

  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <!-- setting maximum upload size -->
        <property name="maxUploadSize" value="80000000" />
        <property name="defaultEncoding" value="UTF-8"></property>
  </bean>
 
	<bean class = "org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
	    <property name="messageConverters">
	        <array>
	            <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
	                <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
	            </bean>
	        </array>
	    </property>
	</bean> 
 
 	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="com.apparel.actions.exception.CustomGenericException">
					error/generic-error
				</prop>
			</props>
		</property>
	</bean>
 
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    
</beans>